<!DOCTYPE html>
<html>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://madigaudio418y.s3.amazonaws.com/Open_book_nae_02.svg.png" width="40" height="40" class="d-inline-block align-top" alt="">
      Home
    </a>
  </nav>
  <head>
    <title>Biography</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="https://madigaudio418y.s3.amazonaws.com/image+(2).png" width="300" height="300" style="float:left; padding-right:2rem; padding-top:1rem">
    <div className="bioText">
      <h1>Mason DiGaudio</h1>
      <p>Mason DiGaudio is a 21 year old Computer Science student (born February 26th, 2001) currently attending SUNY Albany as a senior. For his <br> CSI418Y project, he is
        working on developing a website to compare flight and ticket prices. This website is being created for Assignment 3.</p>
    </div>
  </body>
</html>
